/** General */
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.col-md-6.center {
  float: center;
  margin: auto;
}
.col-md-4.center {
  float: center;
  margin: auto;
}

p {
  color: black;
}

.nav.nav-tabs > li {
  float: none;
  display: inline-block;
  color: black;
}

.nav.nav-tabs > li > a {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

.nav-tabs {
  text-align: center;
}

div {
  position: relative;
  color: white;
}

a {
  text-decoration: none;
}

img {
  position: relative;
}

#contact_form {
  position: absolute;
  top: 20%;
}

#story {
}
#story p {
  color: black;
}

#side {
  position: absolute;
  top: 25%;
}

#side p {
  font-size: 150%
}


/** Cover Photos **/

#test{
background: blue
}

.carousel-inner img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100px;
}

.carousel, .item, .active {
  height:100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-caption {
  z-index: 10;
}

.cover {
  position: relative;
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sunset {
  background: url(../images/sunset.jpg) no-repeat center top fixed;
  background-size: cover;
}

#goldenGate {
  background: url(../images/goldenGate.jpg) no-repeat center top fixed;
  background-size: cover;
}

#blue {
  background: url(../images/blue.jpg) no-repeat center top fixed;
  background-size: cover;
}

#berkeleyView {
  background: url(../images/berkeleyView.JPG) no-repeat center center fixed;
  background-size: cover;
}

#wood {
  background: url(../images/wood.jpg) no-repeat center center fixed;
  background-size: cover;
}

#lake_merritt {
  background: url(../images/lake_merritt.jpg) no-repeat center top fixed;
  background-size: cover;
}


#pointerContainer {
  position: absolute;
  left: 48%;
  bottom: 3%;
  width: 30px;
  height: 19px;
}

#pointer {
  position: absolute;
}

#learnMoreContainer{
  z-index: 5;
  position: absolute;
  left: 46%;
  bottom: 3%;
  width: 88px;
  height: 19px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

#learnMore {
  padding: none;
  color: white;
  font-size: 100%;
}

/**
 * Form input settings */

label {
  font-size: 150%;
  display: block;
}

input {
  font-size: 150%;
}

form {
  float: left;
  margin: 0 auto;
  width: 400px;
}

textarea {
  font-size: 110%;
  vertical-align: top;
  height: 5em;
  width: 300px;
  resize: vertical;
  max-height: 300px;
}

#form {
  left: 10%;
  width: 80%;
  position: absolute;
  top: 20%;
  vertical-align: center;
}

/**
 * Stylin' the nav bar */
nav{
  position: absolute;
  z-index: 10000;
  z-index: 5;
  display: block;
  width: 100%;
  float: center;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li #navImg {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  float: left;
}

nav ul li #navText {
  padding-top: 30px;
  padding-right: 40px;
  display: inline-block;
  text-decoration: none;
  float: right;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

nav ul li #navText:hover {
  color: #00BFFF;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/**
 * Button Utilities */

.btn-lg.btn-default {
  margin: 0 auto;
  vertical-align: center;
  height: 75px;
  width: 400px;
  background-color: #424242;
  border-color: #424242;
}

.btn-lg.btn-default:hover {
  background-color: #DF7401;
  border-color: #DF7401;
}

.btn-lg.btn-default a {
  text-decoration: none;
  color: white;
}


.quote {
  top: 40%;
  text-align: center;
}

.quote h1 {
  font-size: 400%;
}

#aboutText {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 20%;
  text-align: left;
}

#aboutText p {
  font-size: 200%;
}

/* Section 2: Story */

#partition1 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#storyContainer {
  width: 60%;
  position: relative;
  left: 20%;
}

#storyContainer p {
  color: black;
  font-size: 120%;
}

/* Section 3: Team */

#headshot {
  text-align: center;
}

#inner {
  position: relative;
}

#aboutWrapper {
  width: 50%;
  margin: 0 auto;
}

#title {
  font-size: 110%;
  color: #DF7401;
}

#names {
  font-size: 200%;
  color: #00BFFF;
}

#about {
  color: black;
  font-size: 100%;
}

/* Section 4: Partners */

.partnerLogo {
  position: absolute;
  top: 30px;
  text-align: center;
}

.popup {
  position: fixed;
  display: none;
  background: white;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: 20;
}

/**
 * Product showcase slides */

.productSlide {
  position: relative;
  height: 500px;
  background: black;
}

.section {
  background: black;
  position: absolute;
  height: 100%;
  width: 100%;
}

.section h1 {
  color: black;
}

#one.section {
  left: 0%;
}

#two.section {
  left: -100%;
}

#three.section {
  left: -200%;
}

#four.section {
  left: -300%;
}

#demoContainer {
  top: 10%;
  position: absolute;
  text-align: center;
}

#leftArrowContainer {
  position: absolute;
  width: 5%;
  right: 95%;
  z-index: 10;
  height: 100%;
}

#rightArrowContainer {
  height: 100%;
  position: absolute;
  width: 5%;
  left: 95%;
  z-index: 10;
}

#leftArrowContainer img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
}

#rightArrowContainer img {
  vertical-align: middle;
}

#leftArrowContainer:hover {
  background: #2E2E2E;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#rightArrowContainer:hover {
  background: #2E2E2E;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.productInfo {
  height: 100%;
  position: relative;
}

#PI1.productInfo {
  background: red;
}

#PI2.productInfo {
  background: orange;
}

#PI3.productInfo {
  background: yellow;
}

#PI4.productInfo {
  background: green;
}




/** iframe settings **/

#iframeContainer {
  position: relative;
  text-align: center;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

/**
 * Footer settings
 * Configures footer navbar and copyright */

#footer {
  position: relative;
  background: black;
  height: 80px
}

.footnav {
  text-align: center;
}

.footnav ul a li {
  color: white;
  padding: 30px 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 100%;
  font-family: "Open San", sans-serif;
}

.footnav ul a li:hover {
  color: #00BFFF;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#whitespace {
  height: 30px;
  text-align: center;
}

#whitespace h4{
  font-size: 80%;
  color: #BDBDBD;
}
