/** General */

h1, h2, h3, h4, p, label{
	color: white;
	font-size: 300%;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

div {
	width: 100%;
}

/**
 * Form input settings */

label {
	font-size: 150%;
	display: block;
}

input {
	font-size: 150%;
}

input[type=button] {
	height: 60px;
	width: 300px;
	background: #424242;
	border: none;
	color: white;
}

input[type=button]:hover {
	background: #DF7401;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

form {
	float: left;	
	margin: 0 auto;
	width: 400px;
}

textarea {
	font-size: 110%;
	vertical-align: top;
	height: 5em;
	width: 300px;
	resize: vertical;
	max-height: 300px;
}

#form {
	left: 10%;
	width: 80%;
	position: absolute;
	top: 20%;
	vertical-align: center;
}

/** 
 * Stylin' the nav bar */
nav{
	z-index: 5;
	display: block;
	width: 100%;
	float: center;
	text-align: right;
}

nav ul {
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

nav ul li #navImg {
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	float: left;
}

nav ul li #navText {
	padding-top: 30px;
	padding-right: 40px;
	display: inline-block;
	text-decoration: none;
	float: right;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

nav ul li #navText:hover {
	color: #00BFFF;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

/** 
 * Button Utilities */

#button {
	position: relative;
	height: 150px;
}

#product {
	position: absolute;
	margin: auto;
	vertical-align: center;
	text-align: center;
	height: 75px;
	width: 400px;
	background: #424242;
	top: 0; left: 0; bottom: 0; right: 0;
}

#product h1 {
	color: white;
	font-size: 200%;
}

#product:hover {
	background: #DF7401;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}


/** 
 * Section image backgrounds */

#wrapper {
	position: relative;
	height: 100%;
}


#wrapper90 {
	position: relative;
	height: 90%;
}

.quote {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 30%;
	text-align: center;
}

#sunset {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/sunset.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#goldenGate {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/goldenGate.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blue {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/blue.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#berkeleyView {
	position: relative;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/berkeleyView.JPG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#simple {
	position: relative;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/wood.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pointerContainer {
	position: absolute;
	left: 48%;
	bottom: 3%;
	width: 30px;
	height: 19px;
}

#pointer {
	position: absolute;
}

#learnMoreContainer{
	z-index: 5;
	position: absolute;
	left: 46%;
	bottom: 3%;
	width: 88px;
	height: 19px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: white;
}

#learnMore {
	padding: none;
	color: white;
	font-size: 100%;
}

/**
 * About page styling 
 * Section 1: General style for dividing page into different sections.
 * Section 2: 
 */

/* Section 1: General Formatting */

#sec1 {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/skyline.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

#partition1 {
	height: 100%;
	position: relative;
}

#sec2 {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/cloudy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

#partition2 {
	position: relative;
}

#sec3 {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../images/snowyTree.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

#partition3 {
	height: 100%;
	position: relative;
}

#aboutnav {
	height: 40px;
	position: relative;
	background: white;
	border-bottom: solid black;
	border-width: 1px;
}

#aboutnav ul {
	text-align: center;
}

#aboutnav ul li {
	font-weight: bold;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	text-decoration: none;
	font-size: 200%;
	font-family: "Open San", sans-serif;
}

#aboutnav ul li:hover {
	border-bottom: solid black;
	border-width: 5px;
}

#aboutText {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 20%;
	text-align: left;
} 

#aboutText p {
	font-size: 200%;
}

/* Section 2: Story */

#partition1 img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#storyContainer {
	width: 60%;
	position: relative;
	left: 20%;
}

#storyContainer p {
	color: black;
	font-size: 120%;
}

/* Section 3: Team */

#headshot {
	text-align: center;
}

#inner {
	position: relative;
}

#aboutWrapper {
	width: 50%;
	margin: 0 auto;
}

#title {
	font-size: 110%;
	color: #DF7401;
}

#names {
	font-size: 200%;
	color: #00BFFF;
}

#about {
	color: black;
	font-size: 100%;
}

/* Section 4: Partners */

.partnerLogo {
	position: absolute;
	top: 30px;
	text-align: center;
}

.popup {
	position: fixed;
	display: none;
	background: white;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	z-index: 20;
}

.cover {
	z-index: 10;
	background: black;
	display: none;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: fixed;
}

/** iframe settings **/

#iframeContainer {
	position: relative;
	text-align: center;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

/** 
 * Footer settings
 * Configures footer navbar and copyright */

#footer {
	position: relative;
	background: black;
	height: 80px
}

.footnav {
	text-align: center;
}

.footnav ul a li {
	color: white;
	padding: 30px 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 100%;
	font-family: "Open San", sans-serif;
}

.footnav ul a li:hover {
	color: #00BFFF;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

#whitespace {
	height: 30px;
	text-align: center;
}

#whitespace h4{
	font-size: 80%;
	color: #BDBDBD;
}
