<div id="wrapper90">
	<div id="sec1">		
		{% include nav.html %}
		<div id="aboutText">
			<h1>Our Story</h1>
			<p> George got the inspiration for solars first asset management software platform from his portfolio management experience at the industrys two leaders, SunRun and SolarCity...</p>
		</div>
	</div>
	<div id="sec2">
		{% include nav.html %}
		<div id="aboutText">
			<h1>Our Team</h1>
			<p> George got the inspiration for solars first asset management software platform from his portfolio management experience at the industrys two leaders, SunRun and SolarCity...</p>
		</div>
	</div>
	<div id="sec3">
		{% include nav.html %}
		<div id="aboutText">
			<h1>Our Partners</h1>
			<p> George got the inspiration for solars first asset management software platform from his portfolio management experience at the industrys two leaders, SunRun and SolarCity...</p>
		</div>
	</div>
	