
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Connect with Ra Power Management</h5>
          <div class="col s2">
            <a class="grey-text text-lighten-3" href="https://twitter.com/rpmsolar">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/ra-power-management">
              <i class="fa fa-linkedin fa-3x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-3" href="https://angel.co/ra-power-management-1">
              <i class="fa fa-angellist fa-3x"></i>
            </a>
          </div>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="/" id="navText">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/about" id="navText">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact" id="navText">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="/product" id="navText">Product</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      RA POWER MANAGEMENT © 2014
      </div>
    </div>
  </footer>
</main>
</body>
</html>


