<nav class="light-blue darken-4">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/product">Product</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/" id="navText">Home</a></li>
      <li><a href="/about" id="navText">About</a></li>
      <li><a href="/contact" id="navText">Contact</a></li>
      <li><a href="/product" id="navText">Product</a></li>
    </ul>
  </div>
</nav>
