---
layout: default
permalink: /about/
---
<div class="cover" id="lake_merritt">
	{% include nav.html %}
	<div class="col-md-4 col-md-offset-6" id="side">
		<h1>Our Story</h1>
		<h3>
      George got the inspiration for solars first asset management software
      platform from his portfolio management experience at the industrys two
      leaders, SunRun and SolarCity...
    </h3>
	</div>
	</div>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs center" role="tablist">
    <li role="presentation" class="active">
    	<a href="#story" aria-controls="story" role="tab" data-toggle="tab">Story</a>
    </li>
    <li role="presentation">
    	<a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a>
    </li>
    <li role="presentation">
    	<a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">Partners</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="story">
  	{% include about/story.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="team">
    	{% include about/team.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="partners">
    	{% include about/partners.html %}
    </div>
  </div>

</div>
