{% include nav.html %}
<div class="carousel slide" data-ride="carousel" data-interval="5000">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active row cover" id="blue">
      <div class="col-md-8 col-md-offset-2 quote">
        <h1>Ra Power Management</h1>
      </div>
    </div>
    <div class="item row cover" id="goldenGate">
      <div class="col-md-8 col-md-offset-2 quote">
        <h1>Simplyfing Asset Management</h1>
      </div>
    </div>
    <div class="item row cover" id="sunset">
      <div class="col-md-8 col-md-offset-2 quote">
        <h1>Promoting Growth and Innovation</h1>
      </div>
    </div>
  </div>
</div>
