<div class="col-md-6 center">
  <div id="headshot">
    <h1 id="title">Founder & CEO</h1>
    <h1 id="names">George Zviagin</h1>
    <div class="col-md-4 center">
      <img src="../images/george.jpg" class="img-responsive img-circle">
    </div>
  </div>
  <div>
    <p>
  George was successful in his goal of architecting a fully functional
  platform for managing a portfolio of solar assets.  However, he saw that
  this platform’s scalability was limited by the tools and manual processes
  that it relied upon.  As SolarCity’s customer base approached 100,000
  contracts and executive leaders set targets to reach half a million within
  the next few years, it became apparent to George that a software solution
  was required in order for financial operations to efficiently scale with
  the business.     </p>
  </div>
  <div id="headshot">
    <h1 id="title">Co-Founder & COO</h1>
    <h1 id="names">Aaron Iverson</h1>
    <div class="col-md-4 center">
      <img src="../images/aaron.jpg" class="img-responsive img-circle">
    </div>
  </div>
  <div>
    <p>
    Aaron first realized solar’s potential while working on a research project
    for Harrington Ventures LLC, a real estate investment fund in the San
    Francisco bay area. Although he saw many possible opportunities in the
    solar space, it wasn’t until he began discussing the idea of a solar
    asset management platform with George did everything click. With over 10
    years of experience working with a variety of asset management systems,
    it was easy for him to see the power and value in an integrated platform
    tailored specifically for solar. With George’s extensive knowledge of
    industry best practices and Aaron’s first-hand experience working with
    some of the best asset management systems on the market, the two came
    together to form RPM.
    </p>
  </div>
</div>
